<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ensure.That" version="2.0.0" targetFramework="MonoAndroid44" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="MonoAndroid44" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="MonoAndroid44" />
</packages>