<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!-- 100 per problem, less here for testing purposes with small sets of sample data -->
    <add key="ScreenSpaceTopComments" value="5"/>
    
    <!-- extra weight to give to comment posted age. set to 0 to give no extra weight -->
    <add key="TimeWeight" value="0.7"/>

    <!-- extra bump in score for having more child comments. 0 for no extra -->
    <add key="ChildCountWeight" value="1.3"/>
  </appSettings>
</configuration>